.header-menu {
  display: none;
}

.navbar-btn {
  display: none;
}

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .navbar > li > a {
    padding: 20px 15px 20px;
    font-size: 1.4rem;
  }

  .header-navbar,
  .footer-wrapped {
    max-width: calc(100% - 22px);
  }

  .shop-sidebar {
    width: 33.3333%;
  }
  .shop-product {
    width: 66.6666%;
  }

  .single-product {
    width: 50%;
    padding: 0px 15px;
  }

  .img-product img {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .main-navbar {
    display: none;
  }

  .navbar > li > a {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    line-height: 45px;
    font-weight: normal;
    flex: 1;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 145px;
    left: 0px;
    right: 0;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    /* max-height: 367px; */
  }

  .navbar-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    display: block;
    color: #fff;
    font-size: 1.5rem;
    width: 60px;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }

  .navbar-btn:focus ~ .sub-navbar {
    max-height: 321px;
    transform: scale(1);
    opacity: 1;
  }

  .navbar-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .sub-navbar {
    position: static;
    transform: scale(0);
    opacity: 0;
    width: 100%;
    max-height: 0;
  }

  .header-navbar {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
  }
  .header-menu {
    display: block;
    color: #fff;
    font-size: 2.8rem;
    padding: 0;
    margin: 20px 0 20px 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toggle-menu:checked ~ .main-navbar {
    display: block;
  }

  .shop-container {
    flex-flow: column-reverse;
  }

  .shop-sidebar {
    width: 50%;
  }
  .shop-product {
    width: 100%;
    margin-bottom: 100px;
  }

  .footer-wrapped {
    flex-flow: wrap;
  }
  .footer-logo {
    width: 50%;
    margin-bottom: 25px;
  }

  .footer-list:nth-child(2),
  .footer-list:nth-child(3) {
    width: 25%;
    margin-bottom: 25px;
  }

  .footer-list:nth-child(4),
  .footer-subcribe {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .single-product {
    width: 100%;
    padding: 0px 15px;
  }

  .img-product img,
  .shop-sidebar,
  .footer-logo,
  .footer-subcribe {
    width: 100%;
  }

  .footer-list:nth-child(2),
  .footer-list:nth-child(3),
  .footer-list:nth-child(4) {
    width: 100%;
    margin-bottom: 25px;
  }
}
