* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans", sans-serif;
}

button,
textarea,
input,
select {
  font-size: inherit;
  font-family: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.7);
}

button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* align-items: center; */
}

a {
  color: inherit;
}

/* header  */
.header-wrapper {
  display: flex;
  width: 100%;
  height: 496px;
  background: url("../img/banner-7.jpg") center center/cover no-repeat;
}

.header-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.header-navbar {
  padding-top: 40px;
  display: flex;
  align-items: center;
  /* position: fixed; */
  max-width: 1170px;
}

.header-logo {
  flex-grow: 1;
}

.main-navbar {
  padding: 0 15px;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar > li {
  /* padding-bottom: 25px; */
}

.navbar > li > a {
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 25px 20px;
  color: #fff;
}

.sub-navbar > li > a:hover {
  background: #b80257;
  color: #fff;
  padding-left: 29px;
}

.navbar > li:last-child > a {
  padding-right: 20px;
}

.navbar-list-item {
  position: relative;
}

.navbar > li:hover .sub-navbar {
  /* display: block; */
  transform: scale(1);
  opacity: 1;
}

.sub-navbar {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 240px;
  background: #fff;
  transition: all linear 0.4s;
  opacity: 0;
  transform: scale(1, 0);
  transform-origin: 100% 2%;
}

.sub-navbar-list-item a {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  line-height: 4.5rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  display: block;
  padding: 0 0 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

.header-icons {
  display: flex;
}

.search-btn,
.cart-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.header-search {
  position: relative;
}

.search-btn-input {
  display: inline-block;
}

.header-search-input {
  position: absolute;
  height: 55px;
  width: 280px;
  padding: 5px;
  border-radius: 0;
  right: 0;
  left: auto;
  top: 25px;
  border: none;
  float: none;
  margin: 0;
  background: #fff;
  display: none;
}

.header-search-input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #ececec;
  padding: 0 49px 0 10px;
  outline: none;
  box-shadow: none;
}

.search-btn-input {
  display: block;
  width: 48px;
  color: #fff;
  border: 1px solid #fff;
  border-left: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  top: 4px;
  right: 5px;
  background: #b80257;
}

.toggle-search:checked ~ .header-search-input {
  display: block;
}

.search-btn {
  margin-left: 8px;
  margin-right: 28px;
}

.header-icons i {
  color: #fff;
  background: transparent;
  font-size: 1.8rem;
}

.title-banner {
  color: #fff;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.title-banner h3 {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 700;
}

.title-banner ul {
  display: flex;
  font-size: 1.5rem;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumb li a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: inherit;
}

.breadcrumb > li > a:hover {
  color: #783df0;
}

.breadcrumb li + li::before {
  content: "/";
  padding: 0px 5px;
}

/* body  */
.wrapped-body {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
}

.contact-address {
  display: flex;
  max-width: 1200px;
  margin-bottom: 100px;
}

.img-address {
  width: 58.33333%;
  padding: 0px 15px;
}

.img-address img {
  width: 100%;
  height: 100%;
  display: block;
}

.address-banner {
  display: flex;
  margin: 0px 15px;
  width: 41.66666667%;
  background: url(../img/4.jpg) no-repeat center;
  background-size: cover;
}

.opacity {
  background: rgba(119, 60, 238, 0.85);
  padding: 60px 0 92px 70px;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.opacity li {
  font-size: 2.4rem;
  line-height: 32px;
  font-weight: 600;
  color: #fff;
  padding-left: 70px;
  margin-bottom: 60px;
  position: relative;
  display: flex;
}

.opacity li i::before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 37px;
}

.address-banner .opacity h2 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
  margin-bottom: 90px;
  position: relative;
  padding-bottom: 18px;
}

.address-banner .opacity h2::before {
  content: "";
  width: 100px;
  height: 2px;
  background: #f2b604;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* contact-form */

.contact-form {
  display: flex;
  max-width: 1200px;
  margin-bottom: 100px;
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.single-input-group {
  width: 50%;
  padding: 0px 15px;
}

.single-input-group input {
  width: 100%;
  border: 1px solid #f3f0fa;
  background: #f3f0fa;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 70px;
  font-size: 1.5rem;
}

.double-input-group {
  width: 100%;
  padding: 0px 15px;
}

.double-input-group textarea {
  height: 400px;
  max-height: 400px;
  max-width: 100%;
  resize: none;
  padding: 30px;
  width: 100%;
  border: 1px solid #f3f0fa;
  background: #f3f0fa;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.double-input-group .btn button {
  width: 150px;
  letter-spacing: 0.15rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  display: block;
  background: #783df0;
  transition: all 0.3s ease-in-out;
}

.double-input-group .btn button:hover {
  background: #b80257;
}

.map iframe {
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
  border: 0;
}

/* footer */
.footer {
  display: block;
  width: 100%;
  background-color: #151515;
  padding: 80px 0 160px 0;
}

.footer-wrapped {
  max-width: 1170px;
}

.footer-logo {
  width: 24.35%;
  padding-right: 15px;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.footer-logo p:nth-child(2) {
  margin: 20px 0;
}

.footer-logo ul {
  display: flex;
  margin-top: 30px;
}

.footer-logo > ul > li:first-child {
  margin-right: 22px;
}

.footer-list {
  padding: 0px 15px;
  width: 17.1%;
}

.footer-list > h6 {
  font-size: 2rem;
  margin: 8px 0px 25px;
  color: #fff;
}

.footer-list ul li a {
  color: rgba(255, 255, 255, 0.6);
  line-height: 30px;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-list ul li:hover a {
  color: #b80257;
}

.footer-subcribe {
  width: 24.35%;
}

.footer-subcribe h6 {
  font-size: 2rem;
  margin: 8px 0px 25px;
  color: #fff;
}

.footer-subcribe {
  padding-left: 15px;
}

.footer-subcribe p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.5rem;
  line-height: 2.2rem;
}

.footer-subcribe input {
  width: 100%;
  height: 40px;
  background: #272727;
  border: none;
  border-radius: 20px;
  margin: 25px 0 10px 0;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subcribe button {
  width: 95px;
  font-size: 1.5rem;
  line-height: 40px;
  border-radius: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background: #b80257;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  vertical-align: middle;
  backface-visibility: hidden;
  transition-property: all;
  transition-duration: 0.3s;
}

.footer-subcribe button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 30px;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.footer-subcribe button:hover::before {
  transform: scale(1);
  /* color: #b80257; */
}

.footer-subcribe button:hover {
  color: #b80257;
}

.scroll-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 99;
  text-align: center;
  color: #fff;
  background: #b80257;
  font-size: 25px;
}
